#!/usr/bin/env bash

# TODO: TEMPORARY CLAN MIGRATION HACK.
# Uncomment this block and remove the local keys.txt copy when the transition is complete.
# if [[ "$(uname)" == "Darwin" ]]; then
#   export SOPS_AGE_KEY_CMD="op read 'op://Personal/master-ssh-key/private-key-age'"
# else
#   export SOPS_AGE_KEY_CMD="sh -c 'sudo cat /etc/ssh/ssh_host_ed25519_key | ssh-to-age -private-key'"
# fi

# use flake
