# export SOPS_AGE_KEY_CMD="su - $USER -c 'op item get \"master-ssh-key\" --field \"private-key-age\" --reveal'"
# export SOPS_AGE_KEY="$(
#   op item get "master-ssh-key" \
#      --vault "Personal" \
#      --field "private-key-age" --reveal
# )"
if [[ "$(uname)" == "Darwin" ]]; then
  export SOPS_AGE_KEY_CMD="sh -c 'op item get \"master-ssh-key\" --field \"private key\" --reveal | ssh-to-age -private-key'"
else
  export SOPS_AGE_KEY_CMD="sh -c 'sudo cat /etc/ssh/ssh_host_ed25519_key | ssh-to-age -private-key'"
fi

use flake
