export SOPS_AGE_KEY_CMD="sh -c 'op item get \"master-ssh-key\" --field \"private key\" --reveal | ssh-to-age -private-key'"
# export SOPS_AGE_KEY="$(
#   op item get "master-ssh-key" \
#      --vault "Personal" \
#      --field "private-key-age" --reveal
# )"